@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

/* BODY */
body {
    font-family: 'JetBrains Mono', monospace;
    background-color: black;
    color: white;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

/* TRANSITION DE PAGE */
body {
    transition: opacity 0.5s ease-in-out;
    /* Transition douce partout */
}
body.fade-out {
    opacity: 0;
    /* Pour l'effet de sortie */
}

/* Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #050505; }
::-webkit-scrollbar-thumb { background: #0e7490; border-radius: 4px; }

/* SPINNING ANIMATION */
@keyframes float { 0%, 100% { transform: translateY(0px); } 50% { transform: translateY(-15px); } }
.animate-float { animation: float 6s ease-in-out infinite; }

@keyframes spin-slow { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
@keyframes spin-reverse-slow { from { transform: rotate(360deg); } to { transform: rotate(0deg); } }

.particle {
    position: absolute; background: white; border-radius: 50%; opacity: 0;
    animation: pulseParticle 4s infinite;
}
@keyframes pulseParticle {
    0% { opacity: 0; transform: scale(0.5); } 50% { opacity: 0.5; transform: scale(1); } 100% { opacity: 0; transform: scale(0.5); }
}

/* Classes pour l'animation d'apparition */
.reveal { opacity: 0; transform: translateY(30px); transition: all 1s ease-out; }
.reveal.active { opacity: 1; transform: translateY(0); }

#page-footer { opacity: 0; transform: translateY(30px); transition: all 1s ease-out; }
#page-footer.active { opacity: 1; transform: translateY(0); }

/* BUTTONS */
a.origin-btn, button.origin-btn {
    display: inline-flex;
    align-items: center;
    gap: 1rem;

    padding: 1rem 2rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
a.btn--graphic, button.btn--graphic {
    border-width: 1px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}
a.btn--graphic:hover, button.btn--graphic:hover {
    background: rgb(6 182 212 / 0.2);
}
i.btn--icon {
    width: 1rem;
    height: 1rem;
}

a.btn--info, button.btn--info {
    border-color: rgb(6 182 212 / var(--tw-border-opacity, 1));
    color: rgb(6 182 212 / var(--tw-text-opacity, 1));
}