@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

/* BODY */
body {
    font-family: 'JetBrains Mono', monospace;
    background-color: black;
    color: white;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

/* TRANSITION DE PAGE */
body {
    transition: opacity 0.5s ease-in-out;
    /* Transition douce partout */
}
body.fade-out {
    opacity: 0;
    /* Pour l'effet de sortie */
}

/* Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #050505; }
::-webkit-scrollbar-thumb { background: #0e7490; border-radius: 4px; }

/* SPINNING ANIMATION */
@keyframes float { 0%, 100% { transform: translateY(0px); } 50% { transform: translateY(-15px); } }
.animate-float { animation: float 6s ease-in-out infinite; }

@keyframes spin-slow { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
@keyframes spin-reverse-slow { from { transform: rotate(360deg); } to { transform: rotate(0deg); } }

.particle {
    position: absolute; background: white; border-radius: 50%; opacity: 0;
    animation: pulseParticle 4s infinite;
}
@keyframes pulseParticle {
    0% { opacity: 0; transform: scale(0.5); } 50% { opacity: 0.5; transform: scale(1); } 100% { opacity: 0; transform: scale(0.5); }
}

/* Classes pour l'animation d'apparition */
.reveal { opacity: 0; transform: translateY(30px); transition: all 1s ease-out; }
.reveal.active { opacity: 1; transform: translateY(0); }

#page-footer { opacity: 0; transform: translateY(30px); transition: all 1s ease-out; }
#page-footer.active { opacity: 1; transform: translateY(0); }

/*TEXTS*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'JetBrains Mono', monospace;
    color: white;
}
h1 { font-size: 3.85rem !important; line-height: 1; }
h2 { font-size: 3rem !important; line-height: 1; }
h3 { font-size: 1.85rem !important; line-height: 2rem; }
h4 { font-size: 1.5rem !important; line-height: 1.25; }
h5 { font-size: 1.3rem !important; line-height: 1.25; }
h6 { font-size: 1.15rem !important; line-height: 1.25; }
p {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #d1d5db;

    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: justify;
}
cite {
    font-family: 'JetBrains Mono', monospace;
    color: rgb(209 213 219);
    font-size: 0.75rem;

    display: block;

    padding: 16px;
    margin: 5px 0;

    background-color: rgb(17 24 39 / 0.5);
    border-left: 2px solid rgb(6 182 212);
}

/*TEXTS STATUS*/
.text--primary { color: #22d3ee; }
.text--secondary { color: rgb(107 107 107); }
.text--success { color: #27ae60; }
.text--info { color: #06b6d4; }
.text--warning { color: rgb(255 204 0); }
.text--danger { color: rgb(239 68 68); }

/*BUTTONS*/
a.origin-btn, button.origin-btn, a.a.origin-btn:link {
    display: inline-flex;
    align-items: center;
    gap: 1rem;

    padding: 1rem 2rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;

    cursor: pointer;
}
.btn--graphic .btn--icon, .btn--full-graphic .btn--icon {
    width: 1rem;
    height: 1rem;
    transition: transform 0.3s ease;
}
.btn--graphic:hover .btn--icon, .btn--full-graphic:hover .btn--icon {
    transform: translateX(0.25rem);
}
.btn--glass .btn--icon {
    width: 1.25rem;
    height: 1.25rem;
    transition: transform 0.3s ease;
}
.btn--glass:hover .btn--icon {
    transform: scale(1.25);
}

/*GRAPHICS BUTTONS*/
a.btn--graphic, button.btn--graphic {
    border-width: 1px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.btn--graphic.btn--primary {
    border-color: #22d3ee;
    color: #22d3ee;
}
.btn--graphic.btn--primary:hover {
    background: #3498db25;
}
.btn--graphic.btn--secondary {
    border-color: rgb(107 107 107);
    color: rgb(107 107 107);
}
.btn--graphic.btn--secondary:hover {
    background: #6b6b6b44;
}
.btn--graphic.btn--success {
    border-color: #27ae60;
    color: #27ae60;
}
.btn--graphic.btn--success:hover {
    background: #27ae6025;
}
.btn--graphic.btn--info {
    border-color: rgb(6 182 212);
    color: rgb(6 182 212);
}
.btn--graphic.btn--info:hover {
    background: #06b6d425;
}
.btn--graphic.btn--warning {
    border-color: rgb(255 204 0);
    color: rgb(255 204 0);
}
.btn--graphic.btn--warning:hover {
    background: #ffcc0025;
}
.btn--graphic.btn--danger {
    border-color: rgb(239 68 68);
    color: rgb(239 68 68);
}
.btn--graphic.btn--danger:hover {
    background: #ef444425;
}
.btn--graphic.btn--light {
    border-color: rgb(249 250 251);
    color: rgb(249 250 251);
}
.btn--graphic.btn--light:hover {
    background: #f9fafb25;
}
.btn--graphic.btn--dark {
    border-color: rgb(30 30 30);
    color: rgb(30 30 30);
}
.btn--graphic.btn--dark:hover {
    background: #1e1e1e25;
}

/*FULL-GRAPHIC BUTTONS*/
a.btn--full-graphic, button.btn--full-graphic {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;

    border-radius: 0.25rem;

    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
    font-weight: 700;
}

.btn--full-graphic.btn--primary {
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 4px
    ),
    #06b6d4;

    color: #000000;
}
.btn--full-graphic.btn--primary:hover {
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 4px
    ),
    #22d3ee;
}
.btn--full-graphic.btn--secondary {
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 4px
    ),
    #6b6b6b;

    color: #000000;
}
.btn--full-graphic.btn--secondary:hover {
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 4px
    ),
    #a7a7a7;
}
.btn--full-graphic.btn--success {
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 4px
    ),
    #27ae60;

    color: #000000;
}
.btn--full-graphic.btn--success:hover {
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 4px
    ),
    #43a047;
}
.btn--full-graphic.btn--info {
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 4px
    ),
    #06b6d4;

    color: #000000;
}
.btn--full-graphic.btn--info:hover {
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 4px
    ),
    #22d3ee;
}
.btn--full-graphic.btn--warning {
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 4px
    ),
    #ffcc00;

    color: #000000;
}
.btn--full-graphic.btn--warning:hover {
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 4px
    ),
    #ffdd00;
}
.btn--full-graphic.btn--danger {
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 4px
    ),
    #ef4444;

    color: #000000;
}
.btn--full-graphic.btn--danger:hover {
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 4px
    ),
    #f44336;
}
.btn--full-graphic.btn--light {
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 4px
    ),
    #f9fafb;

    color: #000000;
}
.btn--full-graphic.btn--light:hover {
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 4px
    ),
    #f9fafb;
}
.btn--full-graphic.btn--dark {
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 4px
    ),
    #1e1e1e;

    color: #000000;
}
.btn--full-graphic.btn--dark:hover {
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 4px
    ),
    #1e1e1e;
}

/*GLASSES BUTTONS*/
a.btn--glass, button.btn--glass {
    background: #000000cc;
    backdrop-filter: blur(10px);
    border: 1px solid #22d3ee33;
    box-shadow: 0 0 30px #22d3ee0d;
    border-left-width: 4px;
    font-weight: bold;
    text-transform: uppercase;

    justify-content: center;
}
a.btn--glass:hover, button.btn--glass:hover {
    background-color: #164e6333;
}

.btn--glass.btn--primary {
    border-left-color: #22d3ee;
}
.btn--glass.btn--secondary {
    border-left-color: #6b6b6b;
}
.btn--glass.btn--success {
    border-left-color: #27ae60;
}
.btn--glass.btn--info {
    border-left-color: #06b6d4;
}
.btn--glass.btn--warning {
    border-left-color: #ffcc00;
}
.btn--glass.btn--danger {
    border-left-color: #ef4444;
}
.btn--glass.btn--light {
    border-left-color: #f9fafb;
}
.btn--glass.btn--dark {
    border-left-color: #1e1e1e;
}
.btn--glass.btn--discord {
    border-left-color: #6366f1;
}

/*NAVIGATION*/
nav.origin-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

    width: 100%;

    padding: 2rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgb(22 78 99 / 0.3);
}
ul.origin-nav-list {
    display: flex;
    gap: 2rem;
}
a.origin-nav-list-link {
    font-size: 0.75rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #9ca3af;
    transition: color 0.3s ease;
}
a.origin-nav-list-link:hover {
    color: #ffffff;
}
a.origin-nav-list-active {
    height: 24px;
    color: #22d3ee;
    font-weight: bold;

    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
a.origin-nav-list-special {
    height: 24px;

    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
div.active-pin {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #22d3ee;
    border-radius: 9999px;

    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
span.special-pin {
    display: block;
    
    width: 0px;
    height: 1px;

    background-color: #22d3ee;

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}